html {
	color: black;
}
body {



background-color: #ffffcc;
	margin-left: auto;
  margin-right: auto;
}
table{}
 table,th, td {
  border: solid black 2px;
  height: 2px;
   padding: 20px;
}
h1 
{
  font-style: normal;
  color: white;
  text-align: center;
}
img
 {
   padding: 5px;
  height: 200px;
  width: 200px;
}


li {
	display:inline
}
h1, h2, p {
	font-family: 'Open Sans', sans-serif;
  	font-style: normal;
	text-align: center;
    	color: Black;
}
