div.navigation 
{
  width: 75%;
  background-color: pink;
}
div.vids
{
	width: 100%;
	padding 20px;
	background-color: orange;
}
video { width: 400px;
	height:400px;
}
video::-webkit-media-controls-panel {
  width: 40px;
}
body 
{
  background-color: #ffffcc;
  margin-left: auto;
  margin-right: auto;
}
h1 
{
  font-style: normal;
  color: white;
  text-align: center;
}
div.first
	{width: 50%;
	padding 10px;
	background-color: blue;
	}
div.main
	{width: 60%;
	padding 20px;
	background-color: black;
	}
div.pics
	{width: 70%;
	padding 20px;
	background-color: green;
	}
	
li 
{
  display:inline;
}
ul li a 
{
  text-decoration: none;
  padding: .2em 1em;
  color: purple;
  background-color: black;
}
ul li a:hover 
{
  background-color: yellow;
  color: red;
} 
p 
{
	font-family: 'Open Sans', sans-serif;
  	font-style: normal;
	text-align: center;
    	color: white;
}
h2 
{
	font-family: 'Open Sans', sans-serif;
  	font-style: normal;
	text-align: center;
    	color: pink;
}
div.myself
	{width: 100%;
	padding 20px;
	background-color: #ffffcc;
}
