div.navigation 
{
  width: 100%;
  margin: 10 10 10 10%;
  background-color: pink;
}
div.vids
{
	width: 100%;
	padding 20px;
	background-color: orange;
body 
{
  background-color: #ffffcc;
  margin-left: auto;
  margin-right: auto;
}
h1 
{
  font-style: normal;
  color: white;
  text-align: center;
}
div.first
	{width: 100%;
	padding 20px;
	background-color: blue;
	}
div.main
	{width: 100%;
	padding 20px;
	background-color: black;
	}
div.pics
	{width: 100%;
	padding 20px;
	background-color: green;
	}
	
li 
{
  display:inline
}
ul li a 
{
  text-decoration: none;
  padding: .2em 1em;
  color: white;
  background-color: black;
}
ul li a:hover 
{
  background-color: yellow;
  color: red;
}
h1, p 
{
	font-family: 'Open Sans', sans-serif;
  	font-style: normal;
	text-align: center;
    	color: Black;
}
h2 
{
	font-family: 'Open Sans', sans-serif;
  	font-style: normal;
	text-align: center;
    	color: pink;
}
